<div id="alarm-creation-container">
  <form [formGroup]="alarmForm" (ngSubmit)="createAlarm()">
    <mat-form-field>
      <mat-label>Alarm type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of alarmTypeOptions" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alarm priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let priority of alarmPriorityOptions" [value]="priority.value">
          {{ priority.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Edge value</mat-label>
      <input matInput type="number" name="edgeValue" formControlName="edgeValue">
      <mat-error *ngIf="alarmForm?.get('edgeValue')?.invalid">Edge value not valid(-1000, 1000)</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Unit</mat-label>
      <mat-select formControlName="unit">
        <mat-option value="K">Kelvin</mat-option>
        <mat-option value="C">Celsius</mat-option>
        <mat-option value="F">Fahrenheit</mat-option>
      </mat-select>
    </mat-form-field>

    <div id="button-container">
      <button mat-button id="create-alarm-button" type="submit">Create</button>
    </div>
  </form>
</div>
