<div id="nav-bar">
    <button id="login-button" class="nav-bar-button"
        mat-button
        *ngIf="!authService.isLoggedIn()"
        (click)="login()">
        Login
    </button>
    <button id="input-creation" class="nav-bar-button"
            mat-button
            *ngIf="authService.isAdmin()"
            (click)="inputCreation()">
      Create tag
    </button>
    <button id="input-display" class="nav-bar-button"
            mat-button
            *ngIf="authService.isLoggedIn()"
            (click)="inputDisplay()">
      Tags
    </button>
    <button id="register-button" class="nav-bar-button"
        mat-button
        *ngIf="authService.isAdmin()"
        (click)="register()">
        Register
    </button>
    <button id="logout-button" class="nav-bar-button"
        mat-button
        *ngIf="authService.isLoggedIn()"
        (click)="logout()">
        Log Out
    </button>
</div>
