#input-display-container {
  padding: 0 20px 40px;
  width: calc(100vw - 340px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.control-container {
  display: flex;
  justify-content: space-between;
}

.add-alarm {
  width: 120px;
  background-color: #1C273C;
  color: #E9E9EB !important;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

