/* You can add global styles to this file, and also import other style files */
@import "node_modules/angular-notifier/styles";

html, body { height: 100%; padding: 0;}
body { margin: 0; font-family: 'Poppins', sans-serif; }

.mat-mdc-snack-bar-container.blue-snackbar {
  --mdc-snackbar-container-color: #1C273C;
  --mat-mdc-snack-bar-button-color: #FFFFFF;
  --mdc-snackbar-supporting-text-color: #FFFFFF;
}

